.italianize {font-style: italic; font-weight: bold;

}

.f_color {color: blueviolet;

}

.f_family {font-family: sans-serif, cursive, 'Times New Roman', Times, serif;
 text-align: left;
}

.blue {color: blue; text-decoration: underline;

}